@model Chat.Web.Models.Medecin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medecin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodeCnam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodeCnam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specialite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Universite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Universite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disponibilite)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
